USE [Superstore]
GO
/****** Object:  StoredProcedure [dbo].[CreateAddress]    Script Date: 5/12/2026 1:51:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kenny Gallardo
-- Create date: 4/21/2026
-- Update date: 5/12/2026
-- Description:	Create an Address
-- EXEC CreateAddress @AddressLine1 = '2320 South 19th street', @AddressLine2 = '', @City = 'Tacoma', @StateID = '49', @CountryID = '228', @PostalCode = '98405', @RegionID = '4', @AddressTypeID = '1', @CustomerID = '794'
-- =============================================
ALTER PROCEDURE [dbo].[CreateAddress]
	@AddressLine1 NVARCHAR(25),
	@AddressLine2 NVARCHAR(25) = NULL,
	@City NVARCHAR(50),
	@StateID INT,
	@CountryID INT,
	@PostalCode INT,
	@RegionID INT,
	@AddressTypeID INT,
	@CustomerID INT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	BEGIN TRY
		INSERT INTO dbo.Address (
		AddressLine1,
		AddressLine2,
		City,
		StateID,
		CountryID,
		PostalCode,
		RegionID,
		AddressTypeID,
		CustomerID)
		VALUES (
		@AddressLine1,
		@AddressLine2,
		@City,
		@StateID,
		@CountryID,
		@PostalCode,
		@RegionID,
		@AddressTypeID,
		@CustomerID);
	END TRY
	BEGIN CATCH
		SELECT ERROR_MESSAGE() AS ErrorMessage;
	END CATCH
END