USE [Superstore]
GO
/****** Object:  StoredProcedure [dbo].[GetAllOrders]    Script Date: 5/12/2026 1:54:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kenny Gallardo
-- Create date: 5/7/2026
-- Update date: 5/12/2026
-- Description:	Get all Orders
-- EXEC GetAllOrders
-- =============================================
ALTER PROCEDURE [dbo].[GetAllOrders]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	BEGIN TRY
		SELECT TOP 100 
			OrderID,
			OrderDate,
			CustomerID,
			SalesPrice,
			Quantity,
			Discount,
			Profit,
			s.ShipMode,
			ShipDate
		FROM dbo.[Order] AS o
		JOIN dbo.ShipMode AS s
		ON o.ShipModeID = s.ShipModeID
	END TRY
	BEGIN CATCH
		SELECT ERROR_MESSAGE() AS ErrorMessage;
	END CATCH
END