USE [Superstore]
GO
/****** Object:  StoredProcedure [dbo].[GetOrderDetails]    Script Date: 5/28/2026 1:41:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kenny Gallardo
-- Create date: 5/28/2026
-- Update date: 
-- Description:	Get order details in JSON format for a given OrderID
-- EXEC GetOrderDetails @OrderID = 10
-- =============================================
CREATE PROCEDURE [dbo].[GetOrderDetails]
	@OrderID INT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	BEGIN TRY
		
		SELECT
			JSON_QUERY(
				(
					SELECT OrderID,
						OrderDate,
						c.FirstName,
						c.LastName,
						SalesPrice,
						Quantity,
						Discount,
						Profit,
						s.ShipMode,
						ShipDate
					FROM dbo.[Order] as o
					JOIN dbo.[Customer] as c 
						ON o.CustomerID = c.CustomerID
					JOIN dbo.[ShipMode] as s
						ON o.ShipModeID = s.ShipModeID
					WHERE OrderID = @OrderID AND o.IsActive = 1
					FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
				)
			) AS [Order],
			JSON_QUERY(
				(
					SELECT p.ProductID,
						ProductName,
						p.CategoryID,
						c.Category,
						p.SubCategoryID,
						sc.SubCategory,
						UnitPrice,
						Inventory
					FROM dbo.OrderDetail as od
					JOIN dbo.Product as p
						ON od.ProductID = p.ProductID
					JOIN dbo.Category as c
						ON p.CategoryID = c.CategoryID
					JOIN dbo.SubCategory as sc
						ON p.SubCategoryID = sc.SubCategoryID
					WHERE od.OrderID = @OrderID AND od.IsActive = 1
					FOR JSON PATH
				)
			) AS [Products]
			FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
	END TRY
	BEGIN CATCH
		SELECT ERROR_MESSAGE() AS ErrorMessage;
	END CATCH
END