USE [Superstore]
GO
/****** Object:  StoredProcedure [dbo].[GetProduct]    Script Date: 5/26/2026 1:11:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kenny Gallardo
-- Create date: 4/23/2026
-- Update date: 5/26/2026
-- Description:	Get Product by ID
-- EXEC GetProduct @ProductID = 1
-- EXEC GetProduct @ProductID = 1, @Delete = 1
-- =============================================
ALTER PROCEDURE [dbo].[GetProduct]
	@ProductID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	BEGIN TRY
		SELECT TOP 1 p.ProductID,
			ProductName,
			p.CategoryID,
			c.Category,
			p.SubCategoryID,
			UnitPrice,
			ProductKey
			Inventory
		FROM dbo.Product AS p
		JOIN dbo.Category AS c
		ON p.CategoryID = c.CategoryID
		JOIN dbo.SubCategory AS sc
		ON p.SubcategoryID = sc.SubCategoryID
	END TRY
	BEGIN CATCH
		SELECT ERROR_MESSAGE() AS ErrorMessage;
	END CATCH
END