USE [Superstore]
GO
/****** Object:  StoredProcedure [dbo].[UpdateCustomer]    Script Date: 5/12/2026 1:42:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kenny Gallardo
-- Create date: 4/16/2026
-- Update date: 5/12/2026
-- Description:	Update a Customer
-- EXEC UpdateCustomer @FirstName = 'Ryan', @LastName = 'Michael', @SegmentID = 2, @CustomerID = 794
-- =============================================
ALTER PROCEDURE [dbo].[UpdateCustomer]
	@FirstName NVARCHAR(50),
	@LastName NVARCHAR(50),
	@SegmentID INT,
	@CustomerID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	BEGIN TRY
		UPDATE dbo.Customer
		SET
		FirstName = COALESCE(@FirstName, FirstName),
		LastName = COALESCE(@LastName, LastName),
		SegmentID = COALESCE(@SegmentID, SegmentID),
		DateUpdated = GETDATE()
		WHERE CustomerID = @CustomerID
	END TRY
	BEGIN CATCH
		SELECT ERROR_MESSAGE() AS ErrorMessage;
	END CATCH
END
